.card__likes {
  color: var(--background);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  max-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
