.popup__btn_type_close {
  background: none;
  cursor: pointer;
  border: none;
  width: 32px;
  height: 32px;
  background-image: url("../../../../images/svg/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity 0.5s;
}
.popup__btn_type_close:hover {
  opacity: 0.6;
}
@media screen and (max-width: 520px) {
  .popup__btn_type_close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
