.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 40px 50px 40px;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  gap: 30px;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  background-image: url("../../images/avatar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  display: flex;
  gap: 18px;
  align-items: flex-end;
}

.proflie__btn {
  background: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--text);
  transition: opacity 0.5s;
}

.proflie__btn:hover {
  opacity: 0.6;
}

.proflie__btn-edit {
  background-image: url("../../images/svg/edit.svg");
  border: 1px solid var(--text);
  min-width: 24px;
  min-height: 24px;
  margin: 0 0 8px 0;
}

.profile__description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.proflie__btn-add {
  background-image: url("../../images/svg/add.svg");
  min-width: 150px;
  min-height: 50px;
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: 120px 1fr 50px;
  }

  .proflie__btn-add {
    min-width: 50px;
  }
}

@media screen and (max-width: 650px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__name {
    text-align: center;
  }

  .profile__description {
    text-align: center;
  }

  .proflie__btn-add {
    min-width: 282px;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    padding: 42px 19px 36px 19px;
    gap: 0;
  }

  .profile__info {
    padding: 26px 0 36px 0;
    gap: 14px;
  }

  .profile__name {
    text-align: center;
    font-size: 27px;
    gap: 10px;
    max-width: 100%;
  }

  .profile__description {
    font-size: 14px;
  }

  .proflie__btn-edit {
    min-width: 18px;
    min-height: 18px;
  }
}
