.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .gallery__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .gallery__list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .gallery__list {
    padding: 0 19px;
  }
}
