.popup__btn {
  background: none;
  cursor: pointer;
  border: none;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/svg/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity 0.5s;
}

.popup__btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 520px) {
  .popup__btn {
    width: 20px;
    height: 20px;
    top: -37px;
    right: 0;
  }
}
