.form__input {
  padding: 5px 0 10px 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--background);

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input::-webkit-input-placeholder,
.form__input::-moz-placeholder,
.form__input::-ms-input-placeholder,
.form__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
