.profile__description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}
@media screen and (max-width: 650px) {
  .profile__description {
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .profile__description {
    font-size: 14px;
  }
}
