.profile__btn_type_edit {
  min-width: 24px;
  min-height: 24px;
  margin: 0 0 8px 0;

  background-image: url("../../../../images/svg/edit.svg");
  border: 1px solid var(--text);
}

@media screen and (max-width: 425px) {
  .profile__btn_type_edit {
    position: absolute;
    right: -28px;
    bottom: 0;

    min-width: 18px;
    min-height: 18px;
    margin: 0 0 6px 0;

    background-size: 8px;
  }
}
